.App {
  text-align: center;
  background: rgb(74,145,142);
  background-size: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(74,145,142,1) 18%, rgba(227,255,254,1) 100%);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img {
  height: 15vh;
}
.logos {
  height: 250px;
}

img .Recipe {
  width: 10vh;
}

.headerImage {
  max-width: 100%; height: auto;
}

Link  {
  text-decoration: none;
}

.recipeImage {
  max-width: 100px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .recipeImage {
    max-width: 25px;
    height: auto;
  }
}